.home-container {
    position: relative;
}

.text-container {
    width: 100%;
    position: absolute;
    z-index: 3;
    display: flex;
    align-items: center;
    height: 600px;
    justify-content: center;
    pointer-events: none;
}

h1 {
    font-family: 'PetitCochon', sans-serif;
    color: white;
    pointer-events: none;
    font-size: 125px;
}