html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  text-align: center;

}

.app-bg {
  background-image: url('./assets/BlackPaperBG.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  overflow: auto;
}
